@media (max-width: 550px) {
  .titleLocation {
    .housingTitle {
      font-size: 18px;
      line-height: 25.67px;
    }
    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 19.96px;
    }
  }
}