.home_container {
  width: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.housing-gallery_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1240px;
  padding: 40px;
  border-radius: 25px;
  gap: 40px;
  background-color: #f6f6f6;
  align-self: center;
  figure {
    height: 340px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
  figcaption {
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    display: flex;
    overflow: hidden;
  }
  .housing-card_title {
    height: 5.5rem;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.67px;
    text-align: left;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5942752100840336) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    .limited-text {
      max-width: 30ch;
      margin: 0;
      text-align: left;
    }
  }
  
}
