.housingSheet {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  .titleAndHosContainer {
    display: flex;
    justify-content: space-between;
    .housingTitleSection {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .hostRateContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .rates {
        display: flex;
        gap: 10px;
      }
    }
  }
  .housingDetailsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    .collapse {
      display: block;
      .collapse-title {
        padding: 10px 20px 10px;
        p {
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 700;
          text-align: left;
        }
      }
      .collapse-content {
        height: 100%;
        width: 100%;
        .show {
          height: 100%;
        }
        li {
          list-style: none;
        }
      }
    }
  }
}

.housingImg {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .housingSheet {
    margin-top: 10px;
    .carousel {
      height: 255px;
      .arrow {
        height: 32px;
      }
    }
    .titleAndHosContainer {
      flex-direction: column;
      .housingTitleSection .tagsContainer {
        flex-wrap: wrap;
        p {
          font-size: 10px;
          font-weight: 700;
          line-height: 14.26px;
        }
      }
      .hostRateContainer {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        .rates {
          gap: 10px;
        }
      }
    }
    .housingDetailsContainer {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      .collapse {
        .collapse-title {
          padding: 05px 10px 5px;
          height: 30px;
          p {
            font-size: 13px;
            line-height: 18.54px;
          }
        }
        .collapse-content {
          font-size: 12px;
          line-height: 17.11px;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .housingSheet {
    justify-content: space-around;
    margin-top: 0;
    .titleAndHosContainer {
      gap: 30px;
      .hostRateContainer {
        gap: 0px;
        .rates img {
          height: 13px;
        }
      }
    }
    .housingDetailsContainer {
      gap: 5px;
    }
  }
}
