.housingSheet {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  .titleAndHosContainer {
    display: flex;
    justify-content: space-between;
    .housingTitleSection {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .hostRateContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .host {
        display: flex;
        gap: 10px;
        align-self: flex-end;
        p {
          color: #ff6060;
          text-align: right;
          line-height: 32px;
        }
        img {
          width: 64px;
          height: 64px;
          border-radius: 50px;
        }
      }
      .rates {
        display: flex;
        gap: 10px;
      }
    }
  }
  .housingDetailsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;

    .collapse {
      display: block;
      .collapse-title {
        padding: 10px 20px 10px;
        p {
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 700;
          text-align: left;
        }
      }
      .collapse-content {
        height: 100%;
        width: 100%;
        .show {
          height: 100%;
        }
        li {
          list-style: none;
        }
      }
    }
  }
}

.housingImg {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .housingSheet {
    .titleAndHosContainer {
      flex-direction: column;
      .housingTitleSection {
      }
      .hostRateContainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 20px;
        .host {
          display: flex;
          gap: 10px;
          align-self: flex-end;
          p {
            color: #ff6060;
            text-align: right;
          }
          img {
            width: 64px;
            height: 64px;
            border-radius: 50px;
          }
        }
        .rates {
          display: flex;
          gap: 10px;
        }
      }
    }
    .housingDetailsContainer {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 70px;

      .collapse {
        li {
          list-style: none;
        }
      }
    }
  }
}
