.header {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 45px 100px;
  img {
    cursor: pointer;
  }
}

.navLinkContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  text-align: right;
  color: black;
}

.navLinkContainer a {
  text-decoration: none;
  color: black;
}
.navLinkContainer a:hover {
  text-decoration: underline;
}
@media (max-width: 1240px) {
  .header {
    padding: 45px 50px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px;
    .navLinkContainer {
      justify-content: flex-end;
      gap: 40px;
    }
    img {
      height: 46px;
    }
  }
}

@media (max-width: 550px) {
  .header {
    padding: 20px;
    .navLinkContainer {
      justify-content: flex-end;
      gap: 25px;
     
    }
    img {
      height: 46px;
    }
  }
}
@media (max-width: 450px) {
  .header {
    padding: 20px;
    .navLinkContainer {
      justify-content: flex-end;
      gap: 25px;
      font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 17.11px;
text-align: right;

    }
    img {
      height: 46px;
    }
  }
}
