.header {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 45px 100px;
  img {
    cursor: pointer;
  }
}

.navLinkContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  text-align: right;
  color: black;
  width: 310px;
}

.navLinkContainer a {
  text-decoration: none;
  color: black;
}
.navLinkContainer a:hover {
  text-decoration: underline;
}
@media (max-width: 1240px) {
  .header {
    padding: 45px 50px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px;
    .navLinkContainer {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      gap: 26px;

      font-family: "Montserrat";
      font-size: 24px;
      font-weight: 500;
      line-height: 34.22px;
      text-align: right;
      color: black;
      width: 100%;
      .navLinkContainer a {
        text-decoration: none;
        color: black;
      }
    }
    img {
      height: 46px;
    }
  }
}
