.collapse {
  width: 100%;
  max-width: 1240px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  max-height: 1500px;
}

.collapse-title {
  display: flex;
  justify-content: space-between;
  background-color: #ff6060;
  border-radius: 5px;
  padding: 0.3em 1.2em;
  cursor: pointer;
  overflow: hidden;
  p {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34.22px;
    text-align: left;
    color: white;
  }
  .collapse-arrow {
    transition: rotate 500ms ease-in-out;
    &.open {
      transform: rotate(180deg);
    }
  }
}

.collapse-content {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  max-height: 0;
  height: 100%;
  overflow: hidden;
  background-color: #fbfbfb;
  border-radius: 5px;
  padding: 0;
  transition: padding 500ms ease-in-out;
  &.show {
    max-height: 1500px;
    padding: 20px;
    overflow: hidden;
    height: 100%;
    transition: padding 500ms ease-in-out;
  }
}
