.titre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  width: 1240px;
  position: relative;
  border-radius: 25px;
  background-color: transparent;
  background-image: url("src/assets/imageSource1.png");
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 9px -6px rgba(0, 0, 0, 0.78);
}

.titre h1 {
  position: absolute;
  font-size: 3.5em;
  line-height: 1.1;
  color: white;
  z-index: 1000;
}
.voileNoire {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  background-clip: content-box;
  overflow: hidden;
  border-radius: 25px;
  opacity: 0.6;
}
