.footer {
  background-color: black;
  width: 100%;
  margin-top: 50px;
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
  }
  img {
    width: 122px;
  }
  span {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: center;
    color: white;
  }
}

@media (max-width: 768px) {
  .footer {
    margin-top: 25px;

    img {
      width: 122px;
    }
    span {      
      font-size: 12px;
      font-weight: 500;
      line-height: 17.11px;      
      color: white;
    }
  }
}
