* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: left;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  font-family: "Monserrat", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffff;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  /* max-width: 1440px;
  padding: 0 100px; */
}

h2 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  text-align: left;
  color: #ff6060;
}

h3 {
}

h4 {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 34.22px;
  text-align: left;
}
@media (max-width: 1240px) {
  #root {
    gap: 0px;
  }
}
@media (max-width: 768px) {
  #root {
    gap: 0px;
  }
}
